.cabecalho{
    display: flex;
    align-items: center;
    background-color: #0e536e;
    color: rgb(255, 255, 255);
    justify-content: flex-end;
}

.cabecalho-lista{
    display: flex;
}

.cabecalho-logo{
    display: flex;
}

.lista-item{
    margin-left: 50px;
}